<nav class="nav-bar">
    <h1 class="logo" (click)="onLogoClick()">Spacestagram</h1>
    
    <div class="date-input" style="justify-self: center;">
      <mat-form-field style="height: 10;" appearance=fill>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [min]="minDate" [max]="maxDate" [rangePicker]="picker">
          <input [readonly]="true" matStartDate placeholder="Start date" #dateRangeStart>
          <input [readonly]="true" matEndDate placeholder="End date" #dateRangeEnd>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker (closed)="dateRangeChange(dateRangeStart.value, dateRangeEnd.value)"></mat-date-range-picker>
      </mat-form-field>  
    </div>  
      
    <div class="likes">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" color=warn matTooltip="My Likes"[matTooltipPosition]="'below'"> 
          <mat-icon>favorite_border</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="modal" [ngClass]="{'openModal': true}">
        <button mat-menu-item *ngFor="let card of Object.keys(likedCardService.getLikedTitles())" (click)="cardClicked(card)">
            <p>{{card}}</p>
          </button>
        </div>
      </mat-menu>
    </div>
  </nav>
