/* You can add global styles to this file, and also import other style files */
$grey: #303030;
$very-dark-grey: darken($color: $grey, $amount: 4);
$light-grey: lighten($color: $grey, $amount: 6);
$dark-grey: darken($color: $grey, $amount: 2);
$primary: #e91e63;
$accent: #607d8b;
$warn: #f44336;

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@300&display=swap');


$logo-font: 'Marck Script', cursive;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 16px;
}
body{ 
    overflow-X: hidden;
    background-color: $grey; 
    background-color: $light-grey; 
}
ul{
    list-style: none;
    padding: 0;
    margin: 0
}
a{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
h1 {
    margin: 0;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Helvetica Neue", sans-serif;
 }

 .hide-btn {
     background: none;
     outline: none;
     border: none;
     padding: 13px;
     &:focus {
         outline: none;
        border: 2px solid $primary;
        border-radius: 3px;
     }
 }

::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em;
 }
 .mat-form-field-wrapper {
    margin-bottom: -1.25em;
}
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 90px;
    background-color: $grey;
    background-color: $light-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $primary;
    @supports ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
        background-color: rgba($color: $grey, $alpha: 0.8);
        background-color: rgba($color: $light-grey, $alpha: 0.8);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
      }
      backdrop-filter: blur(10px);

    .logo{
        position: relative;
        z-index: 100;
        margin: 0;
        font-family: $logo-font;
        font-size: 3rem;
        color: #fff;
        &:hover {
            cursor: pointer;
        }
    }
    padding: 0 10%;

    .date-input{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

}

.main{
    margin-top: 90px;
    padding: 50px;
    padding-bottom: 150px;
    
}

.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 400px 400px;
    column-gap: 30px;
    row-gap: 40px;
}


.card {
    box-shadow: 5px 10px 10px rgba(0,0,0,.08) !important;
    padding: 15px 0 !important;
    background-color: $dark-grey;
    position: relative;
    // max-width: 400px;
    height: 600px;
    // overflow-y: auto;
    .mat-card-header-text{
        padding: 0 10px;
        margin-left: 0;
        margin-bottom: 20px;
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    // transition: all ease-in-out 200ms;
    &:hover {
        // cursor: pointer;
        // transform: scale(1.01);
    }
    .img-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
        .img-loading{
            position: absolute;
            height: 100%;
            pointer-events: none;
        }
        .img {
            width: 100%;
            height: 100%;
        }
        &:hover{
            cursor: pointer;
        }
        .img-overlay{
            position: absolute;
            pointer-events: none;
        }
        .heart-in-img{
            transform: scale(0);
            opacity: 0;
            // color: $warn;
        }
        .show-heart-in-img {
            animation: liked 1000ms ease-in-out;
        }
    }
    .like-decoy{
        opacity: 0;
        pointer-events: none;
    }
    .like{
        position: absolute;
        bottom: 10px;
        left: 10px;
        .heart-outline{
            font-size: 25px;
            position: relative;
            top: 0;
            left: 0;
            transition: transform 100ms ease-in-out;
            &:hover {
                // transform: scale(1.2);
                transform: scale(1.1);
                // font-size: 27px;
                cursor: pointer;
            }
        }
        .fill-heart{
            // font-size: 0;
            // font-size: 29px;
            position: relative;
            top: 8px;
            left: -33px;
            // opacity: 0;
            transform: scale(0);
            pointer-events: none;
            transition: all ease-in-out 100ms;
            color: $warn;
            color: $primary;
        }
        .show {
            // transform: scale(1);
            opacity: 1;
            transform:scale(1.25);
            // font-size: 29px;
        }
    }
    .content {
        padding: 0 10px;
        max-height: 140px;
        overflow-y: auto;
        font-family: 'Roboto', sans-serif;
        font-family: "Helvetica Neue", sans-serif;
    }
    .content::-webkit-scrollbar {
        display: none;
      }
      
      /* Hide scrollbar for IE, Edge and Firefox */
      .content {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
      
}

.section-loading {
    background-color: $grey;
    background: linear-gradient(110deg, $very-dark-grey 8%, $dark-grey 18%, $very-dark-grey 33%);
    animation: 2s shine linear infinite;

}
.card-loading {
    padding: 15px 0 !important;
    .loading {
        height: 100%;
        .like {
            .heart-outline{
                &:hover{
                    cursor: default;
                    transform: scale(1);
                }
            }
        }
    }
    min-height: 500px;
    .header-loading{
        padding: 0 10px;
        width: 100%;
        height: 10%;
        min-height: 40px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .title-loading {
            width: 50%;
            height: 50%;
            min-height: 20px;
            // background-color: $grey;
            // background: linear-gradient(110deg, $grey 8%, $dark-grey 18%, $grey 33%);
            margin-bottom: 10px;
            background-size: 200% 100%;
            // animation: 2s shine linear infinite;

        }
        .date-loading{
            width: 20%;
            height: 50%;
            min-height: 20px;
            // background-color: $grey;
            // background: linear-gradient(110deg, $grey 8%, $dark-grey 18%, $grey 33%);
            margin-bottom: 10px;
            background-size: 200% 100%;
            // animation: 2s shine linear infinite;
        }
        
    }
    .img-loading {
        width: 100%;
        min-height: 200px;
        height: 50%;
        // background-color: $grey;
        // background: linear-gradient(110deg, $dark-grey 8%, $grey 18%, $dark-grey 33%);
        margin-bottom: 15%;
        margin-bottom: 20px;
        background-size: 200% 100%;
        // animation: 2s shine linear infinite;
    }

    .content-loading {
        height: 20%;
        padding: 0 10px;
        .line-one{
            height: 20%;
            width: 90%;
            min-height: 20px;
            // background-color: $grey;
            // background: linear-gradient(110deg, $grey 8%, $dark-grey 18%, $grey 33%);
            margin-bottom: 5%;
            margin-bottom: 10px;
            background-size: 200% 100%;
            // animation: 2s shine linear infinite;
        }
        .line-two{
            height: 20%;
            min-height: 20px;
            width: 80%;
            // background-color: $grey;
            // background: linear-gradient(110deg, $grey 8%, $dark-grey 18%, $grey 33%);
            margin-bottom: 5%;
            margin-bottom: 10px;
            background-size: 200% 100%;
            // animation: 2s shine linear infinite;
        }
        .line-three{
            height: 20%;
            min-height: 20px;
            width: 30%;
            // background-color: $grey;
            // background: linear-gradient(110deg, $grey 8%, $dark-grey 18%, $grey 33%);
            margin-bottom: 5%;
            margin-bottom: 10px;
            background-size: 200% 100%;
            // animation: 2s shine linear infinite;
        }
        .like{

            .heart-outline {
                &:hover {
                    cursor: default;
                }
            }
        }
    }
}

.more-icon-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.more-icon {
    color: #fff;
    transform: rotate(90deg) scale(2);
    animation: floating 5s ease-in-out infinite;
}

.space-ship {
    position: absolute;
    bottom: -300px;
    height: 200px;
    width: auto;
    transform: rotate(30deg);
    animation: liftOff 10s ease-in-out infinite;
}

.ufo{
    position: absolute;
    height: 100px;
    width: auto;
    top: 200px;
    right: 0;
    transform: rotate(30deg);
    animation: liftOff 10s ease-in-out infinite;
}

@keyframes liftOff{
    from {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(30deg) translateY(-100px) translateX(-100px);
    }
    100% {
        transform: rotate(30deg) translateY(0px) translateX(0px);
    }
}


@keyframes floating {
    from {transform: rotate(90deg) scale(2) translateX(0px) }
    65% {transform: rotate(90deg) scale(2) translateX(15px) }
    to {transform: rotate(90deg) scale(2) translateX(0px) }
}

@keyframes shine{
    to {
        background-position-x: -200%;
    }

}

@media(max-width: 1500px){
    .nav-bar{
        padding: 0 5%;
    }
}

@media(max-width: 1320px){
    .cards{
        grid-template-columns: 50% 50%;
    }
}

@media(max-width: 637px){
    .cards{
        grid-template-columns: 100%;
    }
    .main {
        padding: 20px;
        padding-bottom: 150px;
    }
}

@keyframes liked {
    25% {
    opacity: .9;
    transform: scale(3);
}
    75%{
       opacity: .9;
       transform: scale(3);

   }
   100%{
    opacity: 0;
    transform: scale(0);
   } 
}